body {
    background-color: linen;
    display: inline;
    max-width: 100%;
    overflow-x: hidden;
}

h2 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    box-shadow: 1px 1px 3px gray;
    outline: none;
}

label {
    font-size: 17px;
}

textarea {
    resize: none; 
}

.info-text {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.main {
    background-color: linen;
    padding-top: 30px;
    position: relative;
    top: -670px;
    bottom: 0px;
    height: 600px;
    width: 100%;
}

.login {
    position: relative;
    background-color: #db1f32;
    height: 225px;
    width: 405px;
    top: -50px;
    left: 26px;
    box-shadow: 1px 1px 5px #c7c7c7;
    color: linen;
    text-align: center;
    font-family: Didot;
    font-weight: bold;
    overflow-y: hidden;
}

.shrink {
    transition: all 0.3s ease-in-out;
    height: 60px;
    border-style: solid;
    border-color: #db1f32;
    border-width: 1px;
    background-color: linen;
    color: #084572;
}

.user-name-spot {
    background-color: linen;
    color: #084572;
    font-family: Didot;
}

.password-spot {
    background-color: linen;
    color: #084572;
    font-family: Didot;
}

.log-in-button {
    background-color: linen;
    color: #084572;
    font-family: Didot;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    box-shadow: 1px 1px 3px gray;
    transition: 0.3s;
}

.log-in-button:hover{
    cursor: pointer;
    background-color: white;
    transition: 0.5s;
}

.eagle-shield {
    position: relative;
    opacity: 20%;
    left: 770px;
    top: -330px
}

.flag-logo {
    display: block;
    position: relative;
    max-width: 110px;
    max-height: 110px;
    top: 18px;
    left: 25px;
    box-shadow: 1px 1px 5px #c7c7c7;
}

.main-title {
    font-family: Didot; 
    color: #084572;
    display: inline-block;
    position: relative;
    left: 150px;
    top: -70px;
}

.sub-title {
    font-family: Didot; 
    color: #084572;
    display: inline-block;
    position: relative;
    right: 140px;
    top: -45px;
}

.borderline {
    height: 5px;
    position: relative;
    background-color: #0a2e52;
    width: 100%;
    top: -670px;
}

.map-of-gettysburg {
    display: block;
    position: relative;
    top: 20px;
    left: 40px;
    max-width:1200px;
    max-height:1200px;
    box-shadow: 1px 1px 5px #c7c7c7;
}

.info-container {
    background-color: white;
    position: relative;
    bottom: 1200px;
    right: -860px;
    width: 500px;
    height: auto;
    box-shadow: 1px 1px 5px #c7c7c7;
    text-align: center;
    font-family: Didot; 
}

.scenario-container {
    background-color: white;
    bottom: 1200px;
    right: -860px;
    width: 500px;
    height: auto;
    position: relative;
    clear: both;
    box-shadow: 1px 1px 5px #c7c7c7;
    text-align: center;
    font-family: Didot; 
}

.comment-container {
    background-color: white;
    bottom: 1200px;
    right: -860px;
    width: 500px;
    height: auto;
    position: relative;
    clear: both;
    box-shadow: 1px 1px 5px #c7c7c7;
    text-align: center;
    font-family: Didot;
}

.new-comment-container {
    width: 450px;
    height: 175px;
    margin: 0 auto;
    position: relative;
}

.individual-comment {
    background-color: #084572;
    color: white;
    border-radius: 25px;
    padding: 5px;
    width: 300px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

fieldset {
    display: inline-block;
    position: relative;
    width: auto;
    padding-bottom: 20px;
}

button {
    font-family: Didot;
    cursor: pointer;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 3px;
    background-clip: content-box;
    border: 1px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
}

input[type="radio"]:checked {
    background-color: #084572;
    outline: none;
}